UnderstandingDeepLearning_23_10_23_C.pdf
assignment_1/assignment1/data
assignment_2/imagenet_data
assignment_2/imagenet_data.zip
assignment_2/assignment2/part1/data
assignment_3/assignment3/data
assignment_3/assignment3/big.txt
assignment_3/assignment3/genesis.txt
